$color-wu: #993333;
$color-dm: #993366;
$color-mg: #999933;
$color-gt: #336699;

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    color: #00f;
    text-decoration: none;
}

h1 {
    font-size: 1.4rem;
}

h2 {
    font-size: 1.1rem;
}

header {
    overflow-y: auto;
    border-bottom: solid 1px #ccc;
    padding: 20px 0px;
    ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        li {
            float: left;
            a {
                color: #000;
                border: solid 1px #000;
                background-color: #fff;
                display: block;
                text-decoration: none;
                padding: 10px 15px;
                margin-right: 15px;
                &:hover {
                    color: #fff;
                    background-color: #000;
                }
            }
        }
    }
}

.list {
    font-size: 0.9rem;
    a {
        text-decoration: none;
        color: #00f;
    }
}

#activity_list {
    width: 100%;
    display: inline-grid;
    grid-gap: 10px;
    grid-template-columns: 200px 200px 200px 200px;
    .activity_item {
        color: #fff;
        height: 150px;
        border: solid 1px #000;        
        padding: 10px;
        .headline {
            font-size: 1.2rem;
            font-weight: bold;
        }
    }
    div {
        background-size: cover;
        opacity: 0.9;
    }
    .wu {
        background-color: $color-wu;
        background-image: url('/assets/images/wu.jpg');
    }
    .dm {
        background-color: $color-dm;
        background-image: url('/assets/images/dm.jpg');
    }
    .gt {
        background-color: $color-gt;
        background-image: url('/assets/images/gt.jpg');
    }
    .mg {
        background-color: $color-mg;
        background-image: url('/assets/images/mg.jpg');
    }
    .std {
        background-color: $color-mg;
        background-image: url('/assets/images/default.jpg');
    }
  }



